.btn--clear {
    text-decoration: none;
}

.btn {
    color: #FFFFFF;
    background-color: #F13C6E;
    border: 2px solid #F13C6E;
    box-sizing: border-box;
    border-radius: 40px;
    display: inline-block;
    padding: 12px 27px;
    outline: none;
    transition: all 0.5s;
}

.btn:hover {
    color: #333333;
    background-color: #FFFFFF;
    border: 2px solid #F13C6E;
    cursor: pointer;
}


